*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
     font-family: Didot;
     
}
a{
  text-decoration: none;
  color: white;
}
/*start ladding*/
.nw{
    width:100%;
    background-color: #f4efef86;
}
#logo{
    margin-right: 5px;
   font-family:Lucida Handwriting; 
   font-size: 18px;
   color:rgba(255, 195, 14, 0.856);
}
.img{
    width:80px;
    height: 80px;

}

#item{
    margin: auto;
}
.items{
    margin-right: 18px;
    font-size: 20px;
}

.search{
    width: 300px;
    border-radius: 20px;
}

.items > a{
    font-weight: bold;
}
.items > a:hover{
    color:rgba(255, 195, 14, 0.856);
}
.menu:hover{
    background-color: rgba(255, 195, 14, 0.856);
    
    
}

.cart{
    font-size: 28px;
    margin-right: 30px;
    
   color:rgba(255, 195, 14, 0.856);
}

.login-button{
    border:solid 2px rgba(255, 195, 14, 0.856);
}
.login-button:hover{
    background-color: rgba(255, 195, 14, 0.856);
}


.spacial-head{
    font-size: 40px;
    margin-top:30px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    font-weight: normal;
    
  }
  
  .spacial-icon{
    content: "";
    position: absolute;
    font-size: 22px;
    color:rgba(255, 195, 14) ;
    left: 50%;
    width: 10px;
    height: 10px;
    background: white;
    transform: translateX(-90%);
    bottom:-17px;
    z-index: 2;
    
  }
  
  
  .spacial-head::before{
    content: "";
    position: absolute;
    width: 134px;
    height: 2px;
    background-color: black;
    transform: translateX(-50%);
    left: 50%;
    bottom: -20px;
  }
  .service{
    margin-top:80px;
    margin-left: 50px;
    
    
  }
  
  @media (max-width:786px) {
    .service-c{
        margin-bottom: 50px;
        
    }
    
  }

  
  .menu-resturant{
    position: relative;
    background-image: url('../img/menu.jpg');
    background-size: cover;
    width:97%;
    margin-left: 10px;
    height: 350vh;
    border-radius:15px ;
    box-shadow: 0px 2px 10px black;
    border-bottom: 8px solid   rgba(255, 195, 14, 0.856);
    margin-top: 50px;
    
  }
  .menu-resturant::after{
    content: "";
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.442);
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius:15px ;

  }
  .menu-category{
    position: relative;
    background-color: rgba(223, 223, 223, 0.347);
    margin-top: 10px;
    width: 95%;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2px;
    border-radius: 15px;
    
    margin-bottom: 50px;
  }
  .menu-cont{
    position: relative;
    z-index: 2;
  }



  .menu-food{
    position: relative;
    z-index: 2;
  }

  @media (max-width:900px) {
    .menu-category{
      display: none;
    }
    
  }
  

  .menu-icon{
    margin-top: 40px;
    text-align: center;
    margin-left: 100px;
    font-size: 45px;
    color: rgba(255, 195, 14);
    
  }

  .menu-text{
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
    position: relative;
    z-index: 2;
    color: white;
    
  }


  


  @media (max-width:768px) {
    .menu-resturant{
      margin-left:0px;
    }
    .menu-food{
      margin-left: 20px;
      
    }
    .menu-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      
    }
    
  }


  .card-cont{
    margin-left: 50px;
  }


  @media (max-width:768px) {
    .card-mobile{
      display: flex;
      flex-direction: column;
      
    }

    .card-cont{
    margin-left: 10px;
    
    
  }
  .menu-food{
    margin-left: 2px;
    padding-top: 20px;
    padding-bottom: 50px;

  }

  .card-cont-img{
    width: 150px;
  }
  
  }


  .card-cont-img{
    width: 385px;
    min-height: 320px;
    border-radius: 5px;
  }

  @media (min-width:900px) {
    .menu-resturant{
      margin-left:10px;
    }

    .card-cont-img{
      width: 230px;
    }
   
  }
  .menu-food h3{
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 38px;
  }
.card-cont-body{
  margin-left: 10px;
}
  
.price{
  text-align: center;
}

.card-mobile{
  margin-bottom: 20px;
}


.view-all{
    margin-bottom: 20px;
}


.menu-view{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
    margin-top: 30px;
    padding-bottom: 40px;
    padding-top: 10px;
    color: white;
    background-color: rgba(255, 195, 14, 0.856);
    height: 20px;
    width: 200px;
    border: none;
    border-radius: 20px;
   margin: auto;
}

.menu-view a{
  color: white;
  text-decoration: none;
}


.form-search{
  display: flex;
 justify-content: center;
  margin-bottom: 20px;
  
}
.button-search{
  margin-right: auto;
  
  
}
.form-search .search{
  margin-left: 500px;
  
}
.search{
  padding-top: 20px;
  width: 500px;
  border-radius: 5px;
  height: 50px;
  padding-bottom: 20px;
}



@media (max-width:768px) {
  .form-search .search{
    margin-left: 0;
  }
  
}
