body{
    background-image: url('../img/login2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
   
    
}
h1{
    color: rgba(255, 195, 14, 0.856);
    font-family:Lucida Handwriting;
    text-align: center;
}
form{
    width:500px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    
    
}
h2{
    text-align: center;

}
input{
    display: block;
    border: 2px solid #eee;
    width: 95%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 0px;
}
label{
    font-size: 18px;
    margin:10px;
}

button{
    
    background-color: rgba(255, 195, 14, 0.856);
    border: 1px solid #eee;
    margin-top: 20px;
    border-radius: 10px;
    color:black;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
}
button:hover{
    opacity: .90;
}
input:focus{
    outline: none;
}

p{
    background-color:rgba(234, 3, 3, 0.566);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

button a{
    color: black;
    text-decoration: none;
}

@media (max-width:1200px) {
    body{
        height: 50vh;
    }
    
}